#root {
  margin: 0 auto;
  text-align: center;
  --mainWidth: calc(100% - 250px);
  --mainHeight: calc(100vh - 64px);
}

.toast-message {
  background-color:#52c41a
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.active {
  background: white; border-radius: 9999px; color: #63b3ed;
}

#side-open:checked ~ #sidebar {
  transform: translateX(0);
}

.navbar-container{
  position: absolute;
  position:-webkit-sticky;
  width: var(--mainWidth);
  height: 64px;
  top: 0;
  left: 250px;
}

@media (min-width: 1024px) {
  .main-container {
    position: absolute;
    width: var(--mainWidth);
    min-height: var(--mainHeight);
    left: 250px;
    top: 64px;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    position: absolute;
    width: 100%;
    min-height: var(--mainHeight);
    left: 0;
    top: 64px;
  }
  .navbar-container {
    width: 100%;
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
